@page
@model NeuKoProx.Pages.Error._502Model
@{
    ViewData["Title"] = "502 - Bad Gateway";
}

<h1>502 - Bad Gateway</h1>
<p>The server, while acting as a gateway or proxy, received an invalid response from an inbound server it accessed while attempting to fulfill the request.</p>
